@model List<EndpointModel>

<h1 class="mt-3">Secrets</h1>

<div class="table-wrapper mb-4">
    <table class="data-table table table-sm table-striped" style="width:auto">
        <thead>
            <tr role="row">
                <th scope="col">name</th>
                <th scope="col">url</th>
                <th scope="col">user</th>
                <th scope="col">password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.Url</td>
                <td>@item.UserName</td>
                <td>@item.Password</td>
            </tr>
            }
        </tbody>
    </table>
</div>
