<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - JetHub</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="theme-color" content="#563d7c" />
    <!-- jquery --><script src="~/lib/jquery/jquery.min.js"></script>
    <!-- twitter-bootstrap --><link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" /><script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- font-awesome --><link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <!-- Dashboard style and scripts --><link href="/lib/site/dashboard.css" rel="stylesheet" /><script src="/lib/site/dashboard.js"></script>
    <!-- datatables --><link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" /><script src="~/lib/datatables/js/jquery.dataTables.min.js"></script><script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">JetHub</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav px-3 d-none d-md-flex">
            <li class="nav-item text-nowrap">
                <a class="nav-link">
                    <i class="fas fa-server"></i>
                    @Global.HostName
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
    <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            @await Html.PartialAsync("_NavLinks")
        </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        @RenderBody()
    </main>
    </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
