@inject IStorageInfo Storage

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-compass fa-fw"></i>
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/packages">
            <i class="fas fa-cubes fa-fw"></i>
            Components
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/secrets">
            <i class="fas fa-key fa-fw"></i>
            Secrets
        </a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-terminal fa-fw"></i>
            Terminal
        </a>
    </li>
    -->
</ul>

@foreach (var (svc, jhn) in Storage.Judgehosts)
{
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>@jhn</span>
    </h6>

    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="/logs/@Html.UrlEncoder.Encode(jhn)">
                <i class="fas fa-poll-h fa-fw"></i>
                Log stream
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/judgings/@Html.UrlEncoder.Encode(jhn)">
                <i class="fas fa-folder-open fa-fw"></i>
                Judging files
            </a>
        </li>
    </ul>
}
